.item__details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__detailsRight {
  flex: 0.8;
}

.item__detailsLeft {
  flex: 0.2;
  margin-right: 10px;
  margin-top: 100px;
}
.item__image {
  width: 90%;
  object-fit: cover;
  background-position: center;

  height: 400px;
}

.item__price,
.seller__description {
  border: 2px solid lightgray;
  width: 380px;
  height: 150px;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 10px;
}
.item__price {
  min-height: 200px;
}
.seller__description {
  min-height: 250px;
}

.item__price p {
  color: #979797;
}

.seller__description > button {
  background-color: #000;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
}

.item__description {
  border: 2px solid lightgray;
  width: 53%;
  min-height: 150px;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 10px;
}

.item__descriptionDetails {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid lightgray;
}

@media (max-width: 900px) {
  .item__details {
    flex-direction: column;
  }
  .item__image {
    width: 100%;
  }

  .item__description {
    margin-left: auto;
    margin-right: auto;
    width: 380px;
  }
}
